<%
@page_title 	= 'Listing volunteers'
@page_heading 	= 'Listing volunteers'
%>

<p>No. of volunteers in db: <%=@volunteers.count%></p>
<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
	<th>Birthday</th>
	<th>Phones</th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td>
		<%=h volunteer.first_name %> <%=h volunteer.last_name %>
	</td>
	<td>
		<a href="<%=volunteer.email %>"><%=h volunteer.email %></a>
	</td>
	<td>
		<%=h volunteer.birthday %>
	</td>
	<td>
		<%
		@phone = ""
		if volunteer.phone_work
			@phone = "#{h volunteer.phone_work} (work)"
		end
		if volunteer.phone_home
			if @phone.length > 0
				@phone = "#{@phone},"
			end
			@phone = "#{@phone} #{h volunteer.phone_home} (home)"
		end
		if volunteer.phone_cell
			if @phone.length > 0
				@phone = "#{@phone},"
			end
			@phone = "#{@phone} #{h volunteer.phone_cell} (cell)"
		end
		%>
		<%= @phone %>
	</td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New volunteer', new_volunteer_path %>