<%
@page_title 	= 'New volunteer'
@page_heading 	= 'New volunteer'
%>

<% form_for(@volunteer) do |f| %>
	<%= error_messages_for :object => [@volunteer, @volunteer_extra, @student] %>
	
	<%= render :partial => "form_volunteer_info", :locals => {:form => f}%>
	
	<% fields_for(@volunteer_extra) do |volunteer_extra| %>
	<fieldset>
		<legend>Interests</legend>
		<ul>
			<li>
				<%= label_tag "project_interests", "Please choose the project(s) you're interested in volunteering for: <br />(Hold Ctrl to select multiple projects)"%>
				<i><%= select_tag "project_interests", options_from_collection_for_select(@active_projects, 'id', 'name'), :multiple => true%></i>
			</li>
			<li>
				<%= volunteer_extra.label :how_often_volunteer, "How often would you like to volunteer at the UBC Farm?"%>
				<%= volunteer_extra.text_area :how_often_volunteer %>
			</li>
			<li>
				<%= volunteer_extra.label :how_heard_about_farm, "How did you hear about the farm?"%>
				<%= volunteer_extra.text_area :how_heard_about_farm %>
			</li>
			<li>
				<%= volunteer_extra.label :why_volunteer, "Why do you want to volunteer at the UBC Farm?"%>
				<%= volunteer_extra.text_area :why_volunteer %>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Skills and experience</legend>
		<ul>
			<li>
				<%= volunteer_extra.label :skills_and_knowledge, "What skills and knowledge can you contribute to the UBC Farm?"%>
				<%= volunteer_extra.text_area :skills_and_knowledge %>
			</li>
			<li>
				<%= label_tag "", "Would you be able to contribute any of the following skills?", :class => "normal"%>
			</li>
			<li>
				<%= volunteer_extra.check_box :skill_farming %>
				<%= volunteer_extra.label :skill_farming, "Farming or gardening experience", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_construction %>
				<%= volunteer_extra.label :skill_construction, "Construction / Carpentry", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_sales %>
				<%= volunteer_extra.label :skill_sales, "Sales / Cash handling", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_fundraising %>
				<%= volunteer_extra.label :skill_fundraising, "Fundraising", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_music %>
				<%= volunteer_extra.label :skill_music, "Musical performance", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_art %>
				<%= volunteer_extra.label :skill_art, "Artistic skills (posters etc)", :class => "normal"%><br />
				<%= volunteer_extra.check_box :skill_computer %>
				<%= volunteer_extra.label :skill_computer, "Computer skills", :class => "normal"%><br />
			</li>
			<li>
				<%= label_tag "", "Do you have any of the following?", :class => "normal"%>
			</li>
			<li>
				<%= volunteer_extra.check_box :first_aid %>
				<%= volunteer_extra.label :first_aid, "CPR / First aid", :class => "normal"%><br />
				<%= volunteer_extra.check_box :foodsafe_level1 %>
				<%= volunteer_extra.label :foodsafe_level1, "Foodsafe level 1", :class => "normal"%><br />
				<%= volunteer_extra.check_box :foodsafe_level2 %>
				<%= volunteer_extra.label :foodsafe_level2, "Foodsafe level 2", :class => "normal"%><br />
			</li>
			<li>
				<%= label_tag "", "Do you have your own transportation?  <span class=\"mandatory\">*</span>", :class => "normal"%><br />
				
				<%= volunteer_extra.radio_button :own_transportation, "true"%>
				<%= label_tag "volunteer_extra_own_transportation_1", "Yes", :class => "normal"%>
				
				<%= volunteer_extra.radio_button :own_transportation, "false"%> 
				<%= label_tag "volunteer_extra_own_transportation_0", "No", :class => "normal"%>
			</li>
		</ul>
	</fieldset>
	<% end %>
	<p>
		<%= check_box_tag "is_student", "1", {}, :onchange => "$('#student_information').toggle()"%>
		<%= label_tag "is_student", "I'm a student at UBC.", :class => "normal"%>
	</p>
	<% fields_for(@student) do |student| %>
	<fieldset id="student_information">
		<legend>Student information</legend>
		<ul>
			<li>
			</li>
			<li>
				<%= student.label :student_id,  "Student ID: <span class=\"mandatory\">*</span>"%>
				<%= student.text_field :student_id %>
			</li>
			<li>
				<%= student.label :faculty, "Faculty: <span class=\"mandatory\">*</span>"%>
				<%= student.text_field :faculty %>
			</li>
			<li>
				<%= student.label :program, "Program: <span class=\"mandatory\">*</span>"%>
				<%= student.text_field :program %>
			</li>
			<li>
				<%= student.label :year, "Year: <span class=\"mandatory\">*</span>"%>
				<%= student.select :year, options_for_select([["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"]]) %>
			</li>
			<li>
				<%= student.label :grad_date, "Graduation Date:"%>
				<%= student.date_select :grad_date, :start_year => Time.now.year, :end_year => Time.now.year+10 %>
			</li>
		</ul>
	</fieldset>
	<% end %>
	<p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', volunteers_path %>