<h1>New reward</h1>

<% form_for(@reward) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Rid %><br />
    <%= f.text_field :Rid %>
  </p>
  <p>
    <%= f.label :RPid %><br />
    <%= f.text_field :RPid %>
  </p>
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </p>
  <p>
    <%= f.label :Description %><br />
    <%= f.text_field :Description %>
  </p>
  <p>
    <%= f.label :Hours %><br />
    <%= f.text_field :Hours %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rewards_path %>