<% form_for @report, :url => { :action => form_action } do |f| %>
	<%= f.error_messages %>
	<ul>
		<li><%=label_tag("Report for: ") + " " + @user.name %></li>
		<li>
			<%=f.label :project_id, "Project: <span class=\"mandatory\">*</span>"%>
			<%=f.collection_select :project_id, Project.find(:all, :order => :name), :id, :name %>
		</li>
		<li>
			<%=f.label :supervisor_id, "Supervisor: <span class=\"mandatory\">*</span>"%>
			<%=f.collection_select :supervisor_id, Supervisor.find(:all, :order => :name), :id, :name %>
		</li>
		<li>
			<%=f.label :date, "Date: <span class=\"mandatory\">*</span>"%>
			<%=f.date_select :date, :default => Date.today %>
		</li>
		<li>
			<%=f.label :start_time, "Start time: <span class=\"mandatory\">*</span>"%>
			<%=f.time_select :start_time, :default => Time.now - 1.hour, :minute_step => 15 %>
		</li>
		<li>
			<%=f.label :end_time, "End time: <span class=\"mandatory\">*</span>"%>
			<%=f.time_select :end_time, :default => Time.now, :minute_step => 15 %>
		</li>
		<li>
			<%=f.label :task_description, "Task description: " %>
			<%=f.text_area :task_description %>
		</li>
		<li>
			<%=f.submit submit%>
		</li>
	</ul>
<% end %>