<%
@page_title 	= 'Current projects'
@page_heading 	= 'Your current projects'
%>

<p>The following is a list of projects that you have joined.  To remove yourself from a project, please click on the corresponding "Leave" link.</p>
<% if @volunteers_projects.count > 0 %>
	<table>
		<tr> 
			<th class="project_name">Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>
	<% @volunteers_projects.each do |project| %> 
		<tr>
			<td class="project_name"><%= project.name %></td> 
			<td><%= project.start_date %></td>
			<td><%= project.end_date %></td> 
			<td><%= project.description %></td>
			<td><%= link_to 'Feedback', :controller => :projects, :action => :provide_feedback, :id => project.id %></td>
			<td>
				<%= link_to 'Leave project',
					{:action => :leave, :p_id => project.id, :v_id => @user.id, :name => project.name},
					{:confirm => 'Are you sure you want to leave "' + project.name + '"?'} %>
			</td>
		</tr>
	<% end %>
	</table>
<% else %>
	<p>You have not joined any projects yet. Please view the <%=link_to 'list of active projects', :action => :join_projects %> to start.</p>
<% end %>