<%
@page_title 	= 'Projects list'
@page_heading 	= 'Current projects'
%>

<p>The following is a list of projects that you have joined.  To remove yourself from a project, please click on the corresponding "Leave" link.</p>

<table>
	<tr> 
		<th>Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Description</th>
		<th>Provide Feedback</th>
		<th></th>
	</tr>
<% @volunteers_projects.each do |vp| %> 
	<tr>
	    <% project = Project.find_by_p_id( vp.project_id ) %>
		<td><%= project.name %></td> 
		<td><%= project.start_date %></td>
		<td><%= project.end_date %></td> 
		<td><%= project.description %></td>
		<td><%= link_to 'Feedback', :controller => :projects, :action => :provide_feedback, :id => project.id %></td>
		<td><%= link_to 'Leave', :action => :leave, :p_id => vp.project_id, :v_id => vp.volunteer_id, :name => project.name %></td>
	</tr>
<% end %>
</table>