<%
@page_title 	= 'List of active projects'
@page_heading 	= 'Active projects'
%>

<p>The following is a list of projects you have not joined.  To add yourself to a project, just click the corresponding "Join" link.</p>

<table>
	<tr> 
		<th class="project_name">Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Description</th>
		<th></th>
	</tr>
	
<% @projects_view.each do |p| %> 
	<tr>
		<td class="project_name"><%= p.name %></td> 
		<td><%= p.start_date %></td>
		<td><%= p.end_date %></td> 
		<td><%= p.description %></td>
		<td><%= link_to 'Join this project', :action => :join, :project => p %></td>
	</tr>
<% end %>
</table>