<%
@page_title = 	"Project feedback"
@page_heading = "Provide feedback for #{@project.name}"
%>
<% form_for @project_feedback, :url => { :action => :provide_feedback } do |f| %>
	<%=f.error_messages%>
	<ul>
		<li>
			<%=label_tag '', 'Feedback from: ' %>
			<%=@user.name%>
		</li>
		<li>
			<%=label_tag '', 'Project: ' %>
			<%=@project.name%>
		</li>
		<li>
			<%=f.label :feedback, 'Feedback: <span class="mandatory">*</span>'%>
			<%=f.text_area :feedback %>
		</li>
		<li><%=f.submit 'Send feedback'%></li>
	</ul>
<% end %>