<h1>Editing orientation</h1>

<% form_for(@orientation) do |f| %>
	<%= error_messages_for :object => [@orientation] %>
	<%= render :partial => "form_orientation_info", :locals => {:form => f}%>
	<p><%= f.submit 'Update' %></p>
<% end %>

<%= link_to 'Show', @orientation %> |
<%= link_to 'Back', :action => :index %>