<h1>Listing Orientations</h1>
<p>No. of orientations in db: <%=@orientations.count%></p>
<table>
  <tr>
    <th>Name</th>
    <th>description</th>
  </tr>

<% @orientations.each do |orientation| %>
  <tr>
    <td>
		<%=h orientation.name %>
	</td>
	<td>
		<%=h orientation.description %>
	</td>
	<td><%= link_to 'Show attendees', :action => :showAttendees, :id => orientation.o_id %></td>
    <td><%= link_to 'Edit', :action => :edit %></td>
    <td><%= link_to 'Destroy', :action => :destroy, :id => orientation.o_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orientation', :action => :new %>