<% if flash[:message] %><p class="flash_message"><%=flash[:message]%></p><% end %>

<h1>Listing attendees for <%=@orientation.name%></h1>
<p>No. of attendees expected for this orientation in db: <%=@attendees.count%></p>

<table>
<tr>
  <th>Name:</th>
  <th>Attended</th>
</tr>
<% @attendee_view.each do |volunteer| %>
  <tr>
    <td>
		<%=volunteer[0] %>
	</td>
	<td>
		<%=volunteer[1] %>
	</td>
	<td><%= link_to 'Confirm attendance', :action => :s_confirmAttendance, :o_id => volunteer[2], :v_id => volunteer[3], :name => volunteer[0] %></td>
	<td><%= link_to 'Delete attendee', :action => :s_cancelAttendance, :o_id => volunteer[2], :v_id => volunteer[3], :name => volunteer[0] %></td>
  </tr>
<% end %>

</table>
<br />
<%= link_to 'Back', :action => :index %>