<%
@page_title 	= 'Registered orientations'
@page_heading 	= 'Your registered orientations'
%>
<% if @volunteers_orientations.count > 0%>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>description</th>
	    <th>attended?</th>
	  </tr>

	<% @volunteers_orientations.each do |vo| %>
	  <tr>
	  	<% orientation = Orientation.find_by_o_id( vo.orientation_id ) %>
	    <td>
			<%=h orientation.name %>
		</td>
		<td>
			<%=h orientation.description %>
		</td>
		<td>
			<%=vo.attended %>
		</td>
	

	    <td><%= link_to 'Cancel registration', :action => :v_cancel, :o_id => vo.orientation_id, :v_id => vo.volunteer_id, :name => orientation.name  %></td>
	  </tr>
	<% end %>
</table>
<% else %>
	<p>You have not registered for any <%=link_to 'upcoming orientations', :action => :v_register %> yet.</p>
<% end %>