<%
@page_title 	= 'List of upcoming orientations'
@page_heading 	= 'Upcoming orientations'
%>
<% if @orien_view.count > 0 %>
	<p>The following is a list of upcoming orientations that you have not yet registered to.</p>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
		<th>Location</th>
		<th>Start Time</th>
		<th>End Time</th>
	  </tr>

	<% @orien_view.each do |o| %>
	  <tr>
	    <td>
			<%=h o.name %>
		</td>
		<td>
			<%=h o.description %>
		</td>
		<td>
			<%=h o.location %>
		</td>
		<td>
			<%=h o.start_time %>
		</td>
		<td>
			<%=h o.end_time %>
		</td>
	    <td><%= link_to 'Register', :action => :v_add_orientation, :orien => o %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<p>There are no orientation sessions planned at the moment.</p>
<% end %>