<h1>Listing reward_profiles</h1>

<table>
  <tr>
    <th>Rpid</th>
    <th>Description</th>
    <th>Name</th>
  </tr>

<% @reward_profiles.each do |reward_profile| %>
  <tr>
    <td><%=h reward_profile.RPid %></td>
    <td><%=h reward_profile.Description %></td>
    <td><%=h reward_profile.Name %></td>
    <td><%= link_to 'Show', reward_profile %></td>
	<td><%= link_to 'Show Rewards', :action => :s_showRewards, :id => reward_profile.RPid %></td>
    <td><%= link_to 'Edit', edit_reward_profile_path(reward_profile) %></td>
    <td><%= link_to 'Destroy', reward_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reward_profile', new_reward_profile_path %>