<p>
  <b>Rpid:</b>
  <%=h @reward_profile.RPid %>
</p>

<p>
  <b>Description:</b>
  <%=h @reward_profile.Description %>
</p>

<p>
  <b>Name:</b>
  <%=h @reward_profile.Name %>
</p>


<%= link_to 'Edit', edit_reward_profile_path(@reward_profile) %> |
<%= link_to 'Back', reward_profiles_path %>