<%=render :partial => 'layouts/default_header' %>

<h1><%=@page_heading%></h1>

<% flash.each  do |key, msg| %>
	<p class="flash_<%=key%>"><%=msg%></p>
<% end %>

<%= yield %>

<%=render :partial => 'layouts/default_footer' %>
