<%
@title 	= 'Change password'
%>
<h1>Change password</h1>
<% if flash[:error] %><p class="flash_error"><%=flash[:error]%></p><% end %>
<% form_for(@user, :url => { :action => "change_password" }) do |f| %>
	<%= f.error_messages %>
	<ul>
		<li>
			<%= f.label :old_password, 'Old password: <span class="mandatory">*</span>'%>
			<%= password_field_tag :old_password %>
		</li>
		<li>
			<%= f.label :password, 'New password: <span class="mandatory">*</span>'%>
			<%= password_field_tag :password%>
		</li>
		<li>
			<%= f.label :password_confirmation, 'Confirm: <span class="mandatory">*</span>'%>
			<%= password_field_tag :password_confirmation%>
		</li>
		<li><%= f.submit "Save password"%></li>
	</ul>
<% end %>
<%= link_to 'Back', :action => :my_account %>