<%
@title 	= 'My account'
%>
<h1>Volunteer Account Info</h1> 
<% if flash[:message] %>
	<p class="flash_message"><%=flash[:message]%></p>
<% end %>

<% if !@user.contract_signed %>
	<p class="flash_error">
		You have not yet signed the volunteer contract.
		Please do so <%= link_to 'here', :action => :sign_contract %>.
	</p>
<% end %>


<p>Welcome <%= @user.name %>!</p>
<p>You have successfully logged in.  You may log out, change your account details, log hours or join a project!</p>

<p>
	<%= link_to 'Edit account', 	:action => :edit_account %> |
	<%= link_to 'Report hours', 	:controller => :self_reports, :action => :index %> |
	<%= link_to 'View current projects', 	:action => :view_projects %> |
	<%= link_to 'My Registered Orientations', 	:controller => :orientations, :action => :v_orientations %>
</p>
----------------------------------------------------------------------------------------------------------------------------------------------------
<b><p>If for any reason you want to deactivate your account, you may do so by clicking on 'Deactive my account' below.
<br></br>
Please note that will be logged out afterwards and will be unable to log back in.
<br></br>
Should you want to reactivate your account at a later time, please click on 'Reactivate my account' on the login page and follow the directions there.</p></b>

<i><p>
<%= link_to 'Deactivate my account', :action => 'deactivate_account' %>
</p></i>
----------------------------------------------------------------------------------------------------------------------------------------------------
<br>

<b><p><%= link_to 'Logout', :action => 'logout' %></p></b>
