<h1>Current Projects</h1>

<p>The following is a list of active projects that need help from volunteers.</p>

<p>
<table border="1">
<tr> 
<td width="40%"><p align="center"><i><b>Name</b></i></td> 
<td width="20%"><p align="center"><i><b>Start Date</b></i></td>
<td width="20%"><p align="center"><i><b>End Date</b></i></td>
<td width="20%"><p align="center"><i><b>Description</b></i></td>
</tr>
<% @projects.each do |project| %> 
<tr>
<td width="40%"><p align="center"><b><%= project.name %></b></td> 
<td width="20%"><p align="center"><b><%= project.start_date %></b></td>
<td width="20%"><p align="center"><b><%= project.end_date %> </b></td> 
<td width="20%"><p align="center"><b><%= project.description %> </b></td> 
</tr>
<% end %>
</p>

<p>
<%= link_to 'Back', 'my_account' %>
</p>